<div block="cost-content">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Стоимость</div>
            <div elem="body">
                <div elem="table">
                    <table>
                        <tr>
                            <th>Виды испытаний</th>
                            <th>Единица измерения</th>
                            <th>Стоимость руб.</th>
                        </tr>
                        <tr>
                            <th colspan="3">Комплексные испытания</th>
                        </tr>
                        <tr>
                            <td>Проектирование составов асфальтобетонных смесей (на основании испытаний всех составляющих) с определением физико- механических показателей подобранных смесей и выдачей рецепта:</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>черная щебеночная смесь</td>
                            <td>Подбор</td>
                            <td>25177,9</td>
                        </tr>
                        <tr>
                            <td>мелкозернистая смесь (ГОСТ 9128-2013</td>
                            <td>Подбор</td>
                            <td>25177,9</td>
                        </tr>
                        <tr>
                            <td>мелкозернистая смесь (ГОСТ 9128-2013)</td>
                            <td>Подбор</td>
                            <td>25177,9</td>
                        </tr>
                        <tr>
                            <td>крупнозернистая смесь (ГОСТ 9128-2013)</td>
                            <td>Подбор</td>
                            <td>25177,9</td>
                        </tr>
                        <tr>
                            <td>щебеночно- мастичный асфальтобетон (ГОСТ 31015-2002</td>
                            <td>Подбор</td>
                            <td>25177,9</td>
                        </tr>
                    </table>
                    <button elem="btn-calculate" class="btn-general" type="button">Расчитать стоимость работ</button>
                </div>
                <div elem="info">
                    <h4>Физические качества</h4>
                    <p>Определяя физические качества, в итоге получают следующие данные:</p>
                    <ul elem="list">
                        <li>коэффициент естественной влаги;</li>
                        <li>структуру минералов;</li>
                        <li>данные о пористости экземпляра;</li>
                        <li>плотность земли и её частиц;</li>
                        <li>консистенцию грунта;</li>
                        <li>гранулометрический состав образца;</li>
                        <li>показатель склонности почвы к осадке или набуханию.</li>
                    </ul>
                    <p>После подробного анализа этих результатов производится констатация типа, вида и класса почвы.</p>
                </div>
                <div elem="info">
                    <h4>Механические характеристики</h4>
                    <p>Механические исследования в лабораторных условиях дают возможность получить следующие данные:</p>
                    <ul elem="list">
                        <li>показатель прочности образца во время сдвига или среза;</li>
                        <li>качество изменения формы грунта;</li>
                        <li>крепость земли во время сжатия и растяжения;</li>
                        <li>уровень плотности экземпляра;</li>
                        <li>относительный процент просадки и изначальное просадочное давление;</li>
                        <li>угол природного откоса;</li>
                        <li>уплотнения грунтовых и песчаных оснований.</li>
                    </ul>
                </div>
                <div elem="info">
                    <h4>Химические исследования</h4>
                    <p>Химическая составляющая исследований, которые проводит лаборатория, позволяет получить такой анализ:</p>
                    <ul elem="list">
                        <li>структуру и состав солей, что растворяются в воде;</li>
                        <li>наличие карбонатов в представленном образце;</li>
                        <li>определение липкости образца;</li>
                        <li>наличие в структуре почвы органических компонентов;</li>
                        <li>состав песка;</li>
                        <li>насколько почва водопроницаема, какие уплотнения есть;</li>
                        <li>коэффициент размокания, смягчения и размытия горных пород;</li>
                        <li>уровень негативного восприятия экземпляра к бетону и различным металлам.</li>
                    </ul>
                </div>
                <div elem="info">
                    <h4>Зачем нужны лабораторные испытания</h4>
                    <p>В основном подобные исследования грунтов и песчаных оснований необходимы для технической характеристики земельного участка под строительные работы. Их выполняют с целью определения несущей способности будущей конструкции либо степени уплотнения грунтов и песка при обратной засыпке фундаментов, котлованов или инженерных сетей. Время на проведение таких анализов зависит от ряда факторов, среди которых:</p>
                    <ul elem="list">
                        <li>размер участка определенного под застройку;</li>
                        <li>физико-механические свойства грунтовых оснований участка и его геологические характеристики;</li>
                        <li>сам проект постройки, его масштаб и особенности.</li>
                    </ul>
                    <p>Наша лаборатория грунтов и песка выполняет комплексные испытания и предоставляет все необходимые данные для реализации строительного проекта любой сложности.</p>
                    <p>Работники лаборатории испытательного центра «ЛСК», полностью компетентны в выполнении всех вышеперечисленных проб и анализов и могут провести их как в комплексе, так и отдельно, по желанию заказчика.</p>
                    <p>Доверьтесь нашим специалистам, и мы сделаем все необходимое для успешной реализации Вашего проекта.</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- cost-content -->