.cost-content
    flex none
    margin-bottom 50px
    
    @media (max-width 640px)
        margin-bottom 0
    
    &__title
        font-size 48px
        color #000000
        font-weight 400
        line-height 50px
        margin 0 auto 80px
        width 220px
        max-width 100%
        
        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px
    
    &__table
        width 100%
        margin-bottom 50px  
        
        @media (max-width 640px)
            overflow-x auto
        
        table
            width 100%
            
            @media (max-width 640px)
                width 640px
        
        tr
            &:nth-child(2)
                th
                    text-align center
                    background-color #e7edf1
            &:not(:nth-child(3))
                td
                    &:first-child
                        padding-left 40px
                        position relative
                        &:before
                            content ''
                            position absolute
                            top 20px
                            left 18px
                            width 9px
                            height 1px
                            background-color #f3753e
            
            &:nth-child(3)
                td
                    font-size 15px                
                            
            th,
            td
                border 1px solid #cad7e0   
                padding 9px 15px 10px
                
            th
                font-size 18px
                color #000
                font-weight 700  
                line-height 20px 
                &:first-child
                    width 68%
            
            td
                font-size 16px
                color #000
                font-weight 400  
                line-height 20px     
                &:nth-child(2),
                &:nth-child(3)
                    text-align center
     
    &__btn-calculate
        display block
        width 335px
        max-width 100%
        margin 50px auto 0
        &:after
            display none      
        
        @media (max-width 440px)
            font-size 14px              
    
    &__info
        padding-bottom 25px
        margin-bottom 25px 
        border-bottom 2px solid #f3753e    
        &:last-child
            padding-bottom 0
            border-bottom none  
        
        h4
            font-size 20px
            color #000
            font-weight 700
            line-height 22px 
            margin-bottom 5px
        
        p
            font-size 20px
            color #000
            font-weight 400
            line-height 24px 
            
            @media (max-width 640px)
                font-size 16px
        
    &__list
        list-style-type none
        padding-left 25px
        margin-bottom 25px
        
        @media (max-width 640px)
            padding-left 0
            margin-bottom 0
        
        li
            font-size 18px
            color #000000
            font-weight 400
            line-height 22px
            padding-left 20px
            margin-bottom 10px
            position relative
            &:before
                content ''
                position absolute
                top 8px
                left 0
                width 10px
                height 10px
                border-radius 50%
                background-color #f3753e
            
            @media (max-width 640px)
                font-size 16px
                    