.docs-thumb
    width 275px
    max-width 100%
    margin-bottom 25px

    &__img
        display block
        width 215px
        max-width 100%
        margin 0 auto 50px 55px
        position relative

        &:before
            content ''
            position absolute
            top 50px
            left -20px
            width 180px
            height 247px
            background-color #f3753e
            z-index -1

            @media (max-width 480px)
                display none

        &:after
            content ''
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 50px
            height 50px
            background url('../img/ls.png') 0 0 no-repeat

        @media (max-width 480px)
            margin-bottom 25px
            margin-left auto

        img 
            max-width 100%    
            height auto

    &__name
        font-size 20px
        color #000
        font-weight 700        
        line-height 22px
        text-align center