<div block="docs-thumb">
    <div elem="body">
        <a elem="img" class="js-img-viewing" href="#" data-remodal-target="img"><img src="img/docs-thumb-img2.jpg" alt=""></a>
        <div elem="name">Сертификат соответствия</div>
    </div>
</div><!-- docs-thumb -->