<div block="projects-tabs">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="main">
                <a elem="content" class="js-tab-content tab-content-is-active" href="#">
                    <span elem="img-big"><img src="img/projects-tabs-img-big.jpg" alt=""></span>
                    <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                </a>
                <a elem="content" class="js-tab-content" href="#">
                    <span elem="img-big"><img src="img/projects-tabs-img-big.jpg" alt=""></span>
                    <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                </a>
                <a elem="content" class="js-tab-content" href="#">
                    <span elem="img-big"><img src="img/projects-tabs-img-big.jpg" alt=""></span>
                    <span elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                </a>
            </div>
            <div elem="items" class="js-custom-scroll">
                <div elem="item" class="js-tab-toggle tab-toggle-is-active">
                    <div elem="body">
                        <div elem="img" href="#"><img src="img/projects-tabs-img.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="num"></div>
                            <div elem="name" href="#">Испытание песка <br> и щебня</div>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
                <div elem="item" class="js-tab-toggle">
                    <div elem="body">
                        <div elem="img" href="#"><img src="img/projects-tabs-img2.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="num"></div>
                            <div elem="name" href="#">Испытание грунта</div>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
                <div elem="item" class="js-tab-toggle">
                    <div elem="body">
                        <div elem="img" href="#"><img src="img/projects-tabs-img3.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="num"></div>
                            <div elem="name" href="#">Испытание бетона</div>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- projects-tabs -->