.projects-tabs
    flex none
    margin-bottom 205px
    
    /* width */
    ::-webkit-scrollbar
        width 3px
        
        @media (max-width 1279px)
            height 3px
            
    /* Track */
    ::-webkit-scrollbar-track
        background #d1d1d1     
    

    /* Handle */
    ::-webkit-scrollbar-thumb
        background #f3753e    
    

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover
        background #e75a1d
               
    
    @media (max-width 1024px)
        margin-bottom 50px 
    
    &__inner
        display flex
        // height 870px
            
        // @media (max-width 1599px)
        //     padding-right 20px
        
        @media (max-width 1279px)
            flex-direction column
            justify-content center
            align-items center
                
    &__main
        width 1055px
        max-width 100%
        margin-right 105px
        
        @media (max-width 1279px)
            margin-right 0
            margin-bottom 50px
        
        @media (max-width 1279px)
            order 1
            padding-right 20px
            padding-left 20px
        
        & ^[0]
            
            &__text
                font-size 36px
                color #fff
                font-weight 500
                line-height 38px
                padding-left 30px
                margin-right 50px
                width 600px
                max-width 100%
                position absolute
                bottom 120px
                right 0
                z-index 2
                &:before
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 5px
                    height 100%
                    background-color #ffffff
                
                @media (max-width 767px)
                    font-size 26px
                    line-height 30px
                    width 350px
                    bottom 60px
                
                @media (max-width 479px)
                    font-size 22px
                    line-height 26px
                    bottom 30px
                    right auto
                    left 25px
                
                @media (max-width 375px)
                    font-size 18px
                    line-height 20px
                    width 250px
                    left 10px    
    
    &__content
        position relative      
        overflow hidden
        display none
        &:hover
            & ^[0]
                
                &__img-big
                    
                    img
                        transform scale(1.2)
        
        &.tab-content-is-active
            display block    
    
    &__img-big
        display block
        position relative
        
        img
            max-width 100%
            height auto    
            transition transform 1.5s
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color rgba(0,0,0,0.45)
            z-index 1

    &__items
        width 420px
        height 870px
        max-width 100%    
        overflow-y auto
        counter-reset count-num
        
        @media (max-width 1599px)
            height 730px
        
        @media (max-width 1279px)
            width 1024px
            height auto    
            margin-bottom 25px
            display flex
            padding-left 20px
            padding-right 20px
            overflow-x auto              
    
    &__item
        margin-bottom 45px
        flex 1 0 auto
        cursor pointer
        &:hover
            
            & ^[0]
                
                &__img

                    img 
                        transform scale(1.1)
                
                &__name
                    color #f3753e  
        
        @media (max-width 1279px)
            margin-right 50px      
            margin-bottom 25px    
        
        @media (max-width 480px)
            width 200px
                  
    &__body    
        width 295px
        max-width 100%
        display flex
        flex-direction column

    &__img
        font-size 0
        display block
        margin-bottom 20px
        overflow hidden

        img 
            max-width 100%  
            height auto    
            transition transform .8s

    &__info
        flex 1 1 auto    
        overflow hidden    

    &__num
        font-size 18px
        color #f3753e
        font-weight 700   
        margin-bottom 10px 
        position relative
        &:before
            counter-increment count-num
            content '0' counter(count-num) ' /'
        &:after
            content ''
            position absolute
            top 11px
            right -50px
            width 100%
            height 4px
            background-color #f3753e
            

    &__name
        font-size 24px
        color #000
        font-weight 700
        line-height 24px
        margin-bottom 10px 
        display block
        transition color .3s

        @media (max-width 639px)
            font-size 20px
            line-height 22px  
        
        @media (max-width 480px)
            font-size 18px
            line-height 20px    

    &__desc
        font-size 16px
        color #000
        font-weight 400
        line-height 20px    