.also-your-service
    flex none
    
    &__section
        padding-top 50px
        padding-bottom 170px
        
        @media (max-width 1024px)
            padding-bottom 50px
        
        @media (max-width 640px)
            padding-top 25px    
    
    &__title
        font-size 48px
        color #000
        font-weight 400
        line-height 50px
        width 650px
        max-width 100%  
        margin 0 auto 100px
        
        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px
    
    &__items
        display flex    
        flex-wrap wrap
        justify-content space-between
        
        @media (max-width 1279px)
            justify-content space-around
    
    &__item
        flex 0 0 610px
        width 610px
        max-width 610px    
        margin-bottom 20px
        position relative
        &:first-child
            &:before
                content ''
                position absolute
                top 100px
                left -50px
                width 420px
                height 256px
                background-color #f3753e
        
                @media (max-width 1279px)
                    display none
        
        @media (max-width 640px)
            flex 0 0 100%
            width 100%
            max-width 100%            
                
    
    &__body
        position relative
    
    &__img
        
        img
            max-width 100%
            height auto    
        
    &__info
        width 100%
        height 100%        
        position absolute
        top 0
        left 0
        padding-right 35px
        padding-left 35px
        padding-bottom 35px
        background-color rgba(0,0,0,0.55)
        display flex
        flex-direction column
        justify-content flex-end    
        
        @media (max-width 640px)
            padding 15px
                
    &__name
        font-size 18px
        color #fff
        font-weight 700   
        line-height 22px
        text-transform uppercase  
        padding-bottom 20px
        margin-bottom 30px
        border-bottom 4px solid #f3753e  
        
        @media (max-width 640px)
            font-size 16px
        
        @media (max-width 440px)
            font-size 14px
            line-height 18px    

    &__btn-more
        width 180px
        display block
        &:after
            background url('../img/btn-arr2.png') 0 0 no-repeat