<div block="also-your-service">
    <div elem="section">
        <div elem="inner" class="contain">
            {% if pageTitle == "Лабораторные испытания строительных матекриалов" %}<div elem="title" class="title-style">{{titleAlsoYourService1}}</div>{% endif %}
            {% if pageTitle == "Клиент и проект" %}<div elem="title" class="title-style">{{titleAlsoYourService2}}</div>{% endif %}
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/also-your-service-img.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">ОБЕСПЕЧЕНИЕ ТРАНСПОРТНОЙ БЕЗОПАСНОСТИ</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/also-your-service-img2.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">СОПРОВОЖДЕНИЕ ПОЕЗДОВ</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- also-your-service -->