.our-advantages
    margin-bottom 85px
    
    &__section
        padding-top 90px
        padding-bottom 55px
        background-color #e7edf1
        position relative
        overflow hidden
        
        @media (max-width 959px)
            padding-top 50px

    &__title
        font-size 48px
        color #000
        font-weight 400
        line-height 52px
        margin-bottom 30px

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px

    &__items
        display flex
        flex-wrap wrap  
        margin-left -65px
        counter-reset count-num
        
        @media (max-width 959px)
            display block

    &__item
        flex 0 0 430px
        width 430px
        max-width 430px    
        padding-left 65px
        margin-bottom 85px

        @media (max-width 1440px)
            margin-bottom 55px

        @media (max-width 959px)
            width 100%
            max-width 100%
            margin-bottom 35px

    &__num
        font-size 18px
        color #f3753e
        font-weight 700
        line-height 20px
        margin-bottom 15px
        &:after
            counter-increment count-num
            content '0' counter(count-num) ' /'
            

    &__name
        font-size 24px
        color #000
        font-weight 700
        line-height 24px
        margin-bottom 10px

    &__desc
        font-size 18px
        color #000
        font-weight 400    
        line-height 20px

    &__img
        width 697px
        max-width 100% 
        position absolute
        right 45px
        bottom 105px
        &:before
            content ''
            position absolute
            right -45px
            bottom -40px
            width 600px
            height 83px
            z-index 1
            background-color #f3753e

            @media (max-width 1599px)
                width 350px

            @media (max-width 1279px)
                display none  
            
        @media (max-width 1600px)
            width 525px
            bottom 160px

        @media (max-width 1440px)
            width 445px
            bottom 125px        

        @media (max-width 1366px)
            width 405px
            bottom 145px

        @media (max-width 1279px)
            width 100%
            position static
            padding-left 20px
            padding-right 20px   

        img 
            max-width 100%  
            height auto
            position relative
            z-index 2          