<div block="our-advantages">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Наши преимущества</div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="num"></div>
                        <div elem="name">Богатый опыт</div>
                        <div elem="desc">выполнения работ, в т. ч. с крупными гос. заказчиками</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="num"></div>
                        <div elem="name">Высокотехнологичное оборудование,</div>
                        <div elem="desc">представленное в лаборатории</div>
                    </div>    
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="num"></div>
                        <div elem="name">Опытный персонал,</div>
                        <div elem="desc">имеющий профильное образование</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="num"></div>
                        <div elem="name">Большой автопарк,</div>
                        <div elem="desc">позволяющий осуществлять выезды на несколько объектов одновременно</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="num"></div>
                        <div elem="name">Высокая скорость</div>
                        <div elem="desc">выполнения испытаний</div>
                    </div>    
                </div>
            </div>
        </div>
        <div elem="img"><img src="img/our-advantages-img.jpg" alt=""></div>
    </div>
</div><!-- our-advantages -->