<div block="social">
    <div elem="section">
        <a elem="link" href="https://www.facebook.com/"><img src="img/facebook.svg" alt=""></a>
        <a elem="link" href="https://www.tumblr.com/"><img src="img/tumblr.svg" alt=""></a>
        <a elem="link" href="https://accounts.google.com/"><img src="img/google-plus.svg" alt=""></a>
    </div>
</div><!-- social -->