.social
    margin-top 30px
    
    &__section
        display flex
        align-items center

    &__link
        flex 0 0 30px
        width 30px
        max-width 30px
        
        &:not(:last-child)
            margin-right 25px

        img
            max-width 100%
            height auto