<header block="app-header" mix="block:mt-4">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="top-line" class="js-fixed-panel fixed-panel-init">
                <div elem="info" class="contain">
                    {% include "logo.html" %}
                    {% include "main-menu.html" %}
                    {% include "contacts.html" %}
                    <button class="btn-call btn" type="button" data-remodal-target="request-call">Заказать звонок</button>
                </div>
            </div>
            <div block="first-screen">
                <div elem="section">
                    <div elem="inner">
                        {% if pageTitle == "Главная" %}

                        {% include "main-slider.html" %}    

                        {% endif %}

                        {% if pageTitle == "Лабораторные испытания строительных матекриалов" %}
                        
                        <div elem="body">
                            <div elem="content" style="background: url('img/first-screen-inner-img.png') 220% 0 no-repeat;">
                                <div elem="head">
                                    <h1 elem="title">Лабораторные<br> испытания<br> строительных<br> материалов</h1>
                                </div>
                                <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                            </div>
                        </div>

                        {% endif %}

                        {% if pageTitle == "Аккредитованная испытательная лаборатория" %}
                        
                        <div elem="body">
                            <div elem="content" style="background: url('img/first-screen-inner-img2.png') 105% 0 no-repeat;">
                                <div elem="head">
                                    <h1 elem="title">Heading 1</h1>
                                    <div elem="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit</div>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div><!-- b:first-screen -->
        </div>
    </div>
</header><!-- b:app-header -->
