.app-header
    flex none

    &__inner
        border-bottom 1px solid #e8e8e8

    &__top-line
        
        padding-top 15px
        padding-bottom 30px
        background-color #fff
        
        @media (max-width 1024px)
            display none
        
        &.fixed-panel-show
            position fixed
            top 0
            left 0
            right 0
            width 100%
            transition top 0.3s
            z-index 100
            padding-top 10px
            padding-bottom 10px
    
    &__info
        display flex
        align-items center
        justify-content space-between            

.first-screen
    
    &__body
        height 301px
        padding-left 330px
        margin-bottom 20px
        background #fff url('../img/first-screen-inner-bg.png') 0 0 no-repeat
        
        @media (max-width 1919px)
            padding-left 180px
        
        @media (max-width 1559px)  
            padding-left 100px  
        
        @media (max-width 1439px)    
            padding-left 65px 
        
        @media (max-width 1360px)        
            padding-left 20px
        
        @media (max-width 1024px)
            margin-top 60px
        
        @media (max-width 768px)
            padding-top 25px
                
            
    &__content
        height 100%
        @media (max-width 1919px)
            background none !important

    &__head
        width 400px
        max-width 100%
        color #fff
        padding-top 15px
        padding-left 25px
        position relative
        &:before
            content ''
            position absolute
            top 20px
            left 0
            width 5px
            height 185px
            background-color #ffffff
            
            @media (max-width 1024px)
                top 0
                height 100%
        
         @media (max-width 1024px)
            padding-top 0        
        
        h1
            color #fff
            padding-left 0 !important
            margin-bottom 20px
    
    &__desc        
        font-size 24px
        color #fff
        font-weight 400
        line-height 30px
        
        @media (max-width 439px)
            font-size 16px
            line-height 20px
    
    &__btn-more
        &.btn-general
            color #000
            background-color #fff
            transition color .3s
            &:before
                background-color #fff
            
            &:hover
                color #f3753e
                background-color #fff    