<div block="machinery">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Оборудование</div>
            <div elem="items" class="js-machinery-slider owl-carousel">
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/machinery-img.jpg" alt=""></a>
                        <div elem="content">
                            <a elem="name" href="#">ПРЕСС ГИДРАВЛИЧЕСКИЙ ИСПЫТАТЕЛЬНЫЙ ВМ-4.5</a>
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/machinery-img.jpg" alt=""></a>
                        <div elem="content">
                            <a elem="name" href="#">ПРЕСС ГИДРАВЛИЧЕСКИЙ ИСПЫТАТЕЛЬНЫЙ ВМ-4.5</a>
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/machinery-img.jpg" alt=""></a>
                        <div elem="content">
                            <a elem="name" href="#">ПРЕСС ГИДРАВЛИЧЕСКИЙ ИСПЫТАТЕЛЬНЫЙ ВМ-4.5</a>
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/machinery-img.jpg" alt=""></a>
                        <div elem="content">
                            <a elem="name" href="#">ПРЕСС ГИДРАВЛИЧЕСКИЙ ИСПЫТАТЕЛЬНЫЙ ВМ-4.5</a>
                            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="progress">
                <div elem="progress-bar"><div elem="progress-line" class="js-progress-bar-machinery"></div></div>
                <div elem="counter"></div>
            </div>
        </div>
    </div>
</div><!-- machinery -->