.machinery
    flex none

    &__section
        padding-top 65px
        padding-bottom 135px

        @media (max-width 1024px)
            padding-top 50px
            padding-bottom 50px

    &__title
        font-size 48px
        color #000
        font-weight 400
        margin-bottom 80px

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px

    &__items
        width 1110px
        max-width 100%
        margin 0 auto    
        display flex
        justify-content space-between

        .owl-stage-outer
            padding-bottom 20px

        .owl-item
            @media (max-width 1279px)
                display flex
                justify-content center    

        .owl-prev,
        .owl-next
            width 40px
            height 50px
            position absolute
            top 50%
            transform translateY(-50%)
            background-color #f3753e
            display flex
            align-items center
            justify-content center
            transition background-color .3s
            &:hover
                background-color #e75a1d

            &:before
                content ''
                position absolute
                top 0
                left -6px
                width 3px
                height 100%
                background-color #f3753e

            svg 
                width 21px

        .owl-prev
            left -70px    
            transform rotate(180deg) translateY(50%)

            @media (max-width 1279px)
                left -10px

            @media (max-width 640px)    
                left -15px    

        .owl-next
            right -60px      

            @media (max-width 1279px)    
                right -10px

    &__item
        width 340px
        max-width 100%
        padding 10px
        box-shadow 0 0 18px rgba(161, 161, 161, 0.3)
        background-color #fafbfc

        @media (max-width 440px)    
            width 260px

    &__img
        font-size 0
        display block
        margin-bottom 20px
        overflow hidden
        &:hover
            img 
                transform scale(1.1)

        img 
            max-width 100%  
            height auto    
            transition transform .8s    

    &__content
        padding 15px    

    &__name
        font-size 18px
        color #000
        font-weight 700   
        line-height 20px
        padding-bottom 20px
        margin-bottom 20px
        display block
        position relative
        transition color .3s
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            width 164px
            height 4px
            background-color #f3753e

        &:hover
            color #f3753e
            text-decoration none    

        @media (max-width 440px) 
            font-size 16px
            line-height 18px    

    &__text
        font-size 16px
        color #000
        font-weight 400
        line-height 20px     
    
    &__progress
        display flex
        align-items center
        width 285px
        max-width 100%  
        margin 40px auto 0
        
        @media (max-width 1023px)
            display none
        
    &__progress-bar
        width 220px
        max-width 100%
        background-color #e0e8ec
        margin-right 20px
    
    &__progress-line
        width 0
        max-width 100%
        height 4px
        background-color #f3753e  
        
    &__counter
        font-size 16px
        color #f3753e
        font-weight 500 
        
        span
            font-size 12px 
            font-weight 400    