.our-advantages-another
    margin-top 80px
    margin-bottom 150px
    
    @media (max-width 1024px)
        margin-top 50px
        margin-bottom 50px
    
    &__title
        font-size 48px
        color #000
        font-weight 400
        line-height 50px
        margin-bottom 55px
        
        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px
    
    &__items
        display flex     
        flex-wrap wrap
        margin-left -20px   
    
    &__item
        padding-left 20px
        margin-bottom 20px
        
        &--big
            flex 0 0 630px
            width 630px
            max-width 630px
            
            @media (max-width 640px)
                flex 0 0 100%
                width 100%
                max-width 100%
            
            & ^[0]
                
                &__info
                    padding-right 75px
                    padding-left 40px
                    padding-bottom 35px
                    
                    @media (max-width 640px)
                        padding-left 20px
                        padding-right 20px
                        padding-bottom 15px
                    
                
    
    &__body
        position relative    
        width 100%
        height 100%   
    
    &__img
        
        img
            max-width 100%
            height auto    

    &__info
        width 100%
        height 100%        
        position absolute
        top 0
        left 0
        padding-top 200px
        padding-right 20px
        padding-left 20px
        padding-bottom 20px
        background-color rgba(0,0,0,0.55)
        display flex
        flex-direction column
            
        @media (max-width 640px)
            padding-top 0
            justify-content flex-end
            
    
    &__name
        font-size 30px
        color #fff
        font-weight 700
        line-height 24px    
        padding-bottom 15px
        margin-bottom 15px
        border-bottom 2px solid #f3753e
        
        @media (max-width 640px)
            font-size 20px
            line-height 22px
    
    &__desc
        font-size 24px
        color #fff
        font-weight 500
        line-height 30px
        
        @media (max-width 640px)
            font-size 18px
            line-height 22px    