.info-detailed-content
    margin-bottom 110px

    @media (max-width 1024px)
        margin-bottom 50px

    &__inner
        p
            color #000

    &__another
        margin-top 35px
        margin-bottom 55px
        display flex      
        flex-wrap wrap 

    &__img
        flex 0 0 610px
        width 610px   
        max-width 610px
        position relative
        margin-right 50px
        &:before
            content ''
            position absolute
            left -340px
            bottom -25px
            width 815px
            height 247px
            background-color #f3753e
            z-index -1

            @media (max-width 1279px)
                display none

        @media (max-width 1279px)
            padding-bottom 25px
            flex none    
            width 100%
            max-width 100%

        img 
            max-width 100%
            height auto 
            position relative

    &__text
        width 560px
        max-width 100%        