<div block="news">
    <div elem="section">
        <div elem="inner"> 
            <div elem="items">
                {% include "news-thumb.html" %}
                {% include "news-thumb.html" %}
                {% include "news-thumb.html" %}
                {% include "news-thumb.html" %}
                {% include "news-thumb.html" %}
                {% include "news-thumb.html" %}
            </div>
        </div>
    </div>  
</div><!-- news -->