.news
    margin-bottom 40px

    @media (max-width 1024px)
        margin-bottom 20px

    &__inner
        width 1130px
        max-width 100%
        margin 0 auto

        
    &__items
        display flex    
        justify-content space-between
        flex-wrap wrap