.popup-img
    
    &.remodal
        width 710px
        max-width 100%
        padding 0
        border 2px solid #f3753e
        background-color #fbfbfb
    
    &__section
        text-align center
        width 320px
        padding-top 15px
        padding-bottom 15px
        margin 0 auto
        overflow hidden
        
    &__img
        
        img
            max-width 100%
            height auto
    
    &__buttons
        width 140px
        margin 0 auto 15px
        display flex  
        justify-content center  
    
    &__btn
        font-size 48px
        color #fff
        font-weight 400    
        line-height 42px
        width 47px
        display flex
        flex-direction column
        justify-content center
        align-items center
        background-color #a4b1d5
        border none
        padding 0 0 5px
        
        &--btn-reset
            width 46px
            background-color #637bc0