<div block="popup-img" class="remodal" data-remodal-id="img">
    <button data-remodal-action="close" class="remodal-close">X</button>
    <div elem="section">
        <div elem="img" class="js-img-zoom"></div>
    </div>
    <div elem="buttons">
        <button elem="btn" mods="btn-out" class="js-btn-zoom-out" type="button">-</button>
        <button elem="btn" mods="btn-reset" class="js-btn-zoom-reset" type="button">{{ _icon('magnifying-glass', { tag: 'i' }) }}</button>
        <button elem="btn" mods="btn-in" class="js-btn-zoom-in" type="button">+</button>
    </div>
</div><!-- popup-img -->