<div block="slider-to-content">
    <div elem="section">
        <div elem="inner">
            <div elem="body">
                <div elem="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                </div>
                <div elem="slider">
                    <div elem="slider-back-img"><img src="img/slider-to-content-bg.jpg" alt=""></div>
                    <div elem="items" class="js-slider-to-content owl-carousel">
                        <div elem="item" style="background: url('img/slider-to-content-img.jpg') 50% 0 no-repeat #dce2e7;"></div>
                        <div elem="item" style="background: url('img/slider-to-content-img.jpg') 50% 0 no-repeat #dce2e7;"></div>
                        <div elem="item" style="background: url('img/slider-to-content-img.jpg') 50% 0 no-repeat #dce2e7;"></div>
                        <div elem="item" style="background: url('img/slider-to-content-img.jpg') 50% 0 no-repeat #dce2e7;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- slider-to-content -->