.slider-to-content
    
    &__section
        padding-bottom 90px
        margin-bottom 50px
        border-bottom 2px solid #f3753e
        
        @media (max-width 1024px)
            margin-bottom 25px
    
    &__body
        display flex
        
        @media (max-width 1023px)
            display block
    
    &__text
        width 485px    
        max-width 100%  
        margin-right 40px
        
        p
            color #000
        
        @media (max-width 1023px)
            width 100%
            margin-bottom 25px    
    
    &__slider
        padding-left 85px
        padding-right 105px
        align-self flex-end
        position relative
        &:after
            content ''
            position absolute
            top -50px
            right -350px
            width 1055px
            height 314px
            background-color #f3753e
            z-index -1
            
            @media (max-width 1919px)
                display none
        
        @media (max-width 1279px)
            align-self center
            padding-left 0
        
        @media (max-width 1023px)
            padding-right 0    
    
    &__slider-back-img
        width 465px
        max-width 100%
        position absolute
        top -110px
        right 0
        
        img
            max-width 100%
            height auto
        
        @media (max-width 1023px)
            display none    
    
    &__items
        width 525px
        max-width 100%
        
        @media (max-width 1023px)
            margin 0 auto
         
        .owl-nav
            width 47px
            position absolute
            right -90px
            bottom -10px
            display flex
            flex-direction column
            
            @media (max-width 1023px)
                display none
        
        .owl-prev,
        .owl-next
            width 40px
            height 50px
            transform translateY(-50%)
            background-color #f3753e
            display flex
            align-items center
            justify-content center
            transition background-color .3s
            &:hover
                background-color #e75a1d

            &:before
                content ''
                position absolute
                top 0
                left -6px
                width 3px
                height 100%
                background-color #f3753e

            svg 
                width 21px

        .owl-prev
            margin-bottom 20px
            margin-left -6px
            transform rotate(180deg) translateY(50%) 

        .owl-dots
            position absolute
            bottom -40px
            right 47%
            display flex
            transform translateX(50%)

            @media (max-width 1599px)
                bottom -50px
        
        .owl-dot
            width 13px
            height 13px
            border 3px solid #f3753e
            border-radius 50%
            margin-right 13px
            background-color #f3753e
            transition background-color .3s
            &:last-child
                margin-right 0

            span 
                width 10px
                height 10px
                display block
                border-radius 50%
                transition background-color .3s    

            &.active
                background-color transparent

                span 
                    background-color transparent    
    
    &__item
        height 450px     
        background-size cover !important       
        
        @media (max-width 640px)
            height 250px
        
        @media (max-width 480px)
            height 150px    