.mobile-panel
    background-color #fff
    width 100%
    top 0
    left 0
    position fixed
    z-index 200
    display none

    @media (max-width: 1024px)
        display block
          
    &__section
        width 100%
        padding 10px 20px
        border-bottom 2px solid #f3753e

    &__items
        display flex
        align-items center
        justify-content space-between
    
    &__inner

        .main-menu
            padding 20px

            &__nav

                ul
                    display block

                    li
                        margin-bottom 15px

                        a
                            color #000
                            font-size 16px
                            display inline-block
                            vertical-align top
                            
                        .sub-menu-trigger
                            position absolute
                            top 0
                            right 10px
                            width 30px
                            height 30px
                            background url('../img/btn-arr.svg') 50% 50% no-repeat
                            background-size 60%
                            transition transform .3s
                            .svg-icon
                                display none
                            &.rotade
                                transform rotate(90deg) 
                        
                        ul
                            width auto
                            position static
                            opacity 1
                            visibility visible 
                            padding-top 15px  
                            padding-right 15px
                            padding-left 25px
                            display none
                            transition none
                            
                            li
                                &:last-child
                                    margin-bottom 0
                                a
                                    color #f3753e 
        
        .menu-mob
            background-color #fff
            width 320px
            position absolute
            top 60px
            left -320px
            padding 0 0 100px
            z-index 100
            height 100vh
            overflow-y auto
            transition left .3s
          
            &.menu-is-active
                left 0 

    &__btn-burger
        display block
        width 25px
        height 21px
        padding 0
        background-color #fff
        position relative
        border none
        cursor pointer

        span
            &:before
                transform translateY(-8px)
            &:after
                transform translateY(8px)

    &__btn-burger span,
    &__btn-burger span:before,
    &__btn-burger span:after
        position absolute
        top 50%
        left 0
        margin-top -1px
        width 25px
        height 3px
        background-color #f3753e

    &__btn-burger span:before,
    &__btn-burger span:after
        content ''
        display block
        transition 0.2s

    .btn-burger-is-active
        span
            height 0
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)        
    
    &__overlay-menu
        display none
        position fixed
        top 60px
        // right -5000px
        width 100%
        bottom -5000px
        left 0
        background: rgba(43, 46, 56, 0.9);
        z-index -1
        opacity 0
        transition opacity .3s
        
        &.overlay-is-active
            display block  
            left 0
            transition opacity .3s
            opacity 1   
            z-index 100    


    &__logo
        
        .logo

            &__img
                width 75px
                max-width 100%

    .contacts
        

        &__btn-phone
            display block
            width 24px
            height 24px
            border none
            background url('../img/tel.svg') 0 0 no-repeat
        
        &__body
            text-align center
            padding 20px
            position absolute
            top 60px
            right 0
            background-color #fff  
            box-shadow 0px 9px 20px 13px rgba(213, 232, 255, 0.5)
            display none

            @media (max-width 439px)
                left 0px
                width 100%
        
        &__phone
            color #3c3b3c
            font-size 22px
            font-weight bold
            position relative
            display block
            padding-left 0
            margin-bottom 15px
            &:before
                content ''
                position absolute
                top 50%
                transform translateY(-50%)
                left 40px
                width 24px
                height 24px
                background url('../img/phone-bl-icon.png') 0 0 no-repeat
                display none
        
            span
                font-size 22px
                color #008ab1
                font-weight 400

            &:hover
                color #3c3b3c
                cursor default           

    .call-back
        width 280px      