<div block="mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="inner">
                <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
                <div elem="overlay-menu"></div>
                
                <div block="menu-mob">
                    {% include "main-menu.html" %}
                </div><!-- b-main-menu-mob -->
            </div>

            <div elem="logo">
                {% include 'logo.html' %}
            </div>

            <div block="contacts">
                <button elem="btn-phone" class="js-btn-phone" type="button"></button>
                <div elem="body" class="js-contacts-body">
                    <a elem="phone" href="tel:+74957777777">+7 495 777 77 77</a>
                    <button class="btn-call btn" type="button" data-remodal-target="request-call">Заказать звонок</button>
                </div>
            </div>
            
        </div>
    </div>
</div><!-- mobile-panel -->