<div block="main-slider">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="items" class="js-slider-main owl-carousel">
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat #dce2e7;">
                    <div elem="body">
                        <div elem="title" class="title-style">Испытательная <br> лаборатория</div>
                        <div elem="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet. Proin gravida dolor
                            sit amet lacus accumsan et viverra justo commodo
                        </div>
                        <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat #dce2e7;">
                    <div elem="body">
                        <div elem="title" class="title-style">Испытательная <br> лаборатория</div>
                        <div elem="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet. Proin gravida dolor
                            sit amet lacus accumsan et viverra justo commodo
                        </div>
                        <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat #dce2e7;">
                    <div elem="body">
                        <div elem="title" class="title-style">Испытательная <br> лаборатория</div>
                        <div elem="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean euismod bibendum laoreet. Proin gravida dolor
                            sit amet lacus accumsan et viverra justo commodo
                        </div>
                        <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div elem="progress">
                <div elem="progress-bar"><div elem="progress-line" class="js-progress-bar-main"></div></div>
                <div elem="counter"></div>
            </div>
        </div>
    </div>
</div><!-- main-slider -->