.main-slider

    &__inner
        position relative
        
    &__items
        height 100%    

        .owl-dots
            position absolute
            bottom 40px
            right 47%
            display flex
            transform translateX(50%)

            @media (max-width 1599px)
                bottom -5px
        
        .owl-dot
            width 13px
            height 13px
            border 3px solid #f3753e
            border-radius 50%
            margin-bottom 45px
            margin-right 13px
            background-color #f3753e
            transition background-color .3s
            &:last-child
                margin-right 0

            span 
                width 10px
                height 10px
                display block
                border-radius 50%
                transition background-color .3s    

            &.active
                background-color transparent

                span 
                    background-color transparent

    &__item
        height 100%    
        padding-top 80px
        padding-bottom 85px
        background-size cover !important

        @media (max-width 1024px)  
            padding-top 60px

    &__body
        width 932px
        max-width 100%
        padding-top 85px
        padding-right 80px
        padding-bottom 65px
        padding-left 340px
        box-shadow 2px 4px 16px rgba(35, 62, 81, 0.05)
        background-color #fff    

        @media (max-width 1919px)
            width 790px
            padding-left 190px

        @media (max-width 1559px)
            width 730px
            padding-left 110px

        @media (max-width 1439px)    
            width 690px
            padding-left 70px

        @media (max-width 1279px)    
            padding-left 30px

        @media (max-width 640px)    
            padding-top 40px
            padding-right 20px  
            padding-bottom 40px


    &__title
        font-size 40px
        color #040404
        font-weight 400
        line-height 46px  
        margin-bottom 30px  

        @media (max-width 640px)   
            font-size 32px
            line-height 36px
            margin-bottom 15px
            


    &__text
        font-size 18px
        color #414046
        font-weight 400
        line-height 30px  
        margin-bottom 40px  

        @media (max-width 640px)   
            font-size 16px
            line-height 24px
            margin-bottom 20px
    
    &__progress
        display flex
        align-items center
        position absolute
        bottom 120px
        left 25%
        z-index 5
        
        @media (max-width 1023px)
            display none
        
    &__progress-bar
        width 220px
        max-width 100%
        background-color #e0e8ec
        margin-right 20px
    
    &__progress-line
        width 0
        max-width 100%
        height 4px
        background-color #f3753e  
        
    &__counter
        font-size 16px
        color #f3753e
        font-weight 500 
        
        span
            font-size 12px 
            font-weight 400
        