<footer block="app-footer">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="menu">
                <nav elem="nav">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Лицензии и сертификаты</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Аккредитованная испытательная лаборатория</a></li>
                        <li><a href="#">Полезная информация</a></li>
                    </ul>
                </nav>
                <nav elem="nav">
                    <ul>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Лабораторные испытания строительных материалов</a></li>
                        <li><a href="#">Контроль дорожно-строительных работ</a></li>
                        <li><a href="#">Контроль работ по содержанию автомобильных доро</a></li>
                        <li><a href="#">Экспертиза качества выполняемых работ</a></li>
                        <li><a href="#">Судебная и до судебная экспертиза</a></li>
                    </ul>
                </nav>
                <nav elem="nav" mods="and-social">
                    <ul>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Заказчики</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    {% include "social.html" %}
                </nav>
            </div>
            <div elem="info">
                {% include "logo.html" %}
                {% include "contacts-footer.html" %}
                <button class="btn-call btn" type="button" data-remodal-target="specialist">Заказать звонок</button>
                {% include "social.html" %}
            </div>
        </div>
        <div elem="copy-info">
            <div elem="copy-info-inner" class="contain">
                <div elem="copy-info-body">
                    <div elem="copy">Copyright &copy; 2019</div>
                    <a class="privacy-policy" href="#">Политика конфиденцальности</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- b:app-footer -->
