.app-footer
    flex none
    padding-top 25px
    padding-bottom 25px
    background-color #e7edf1

    &__inner
        display flex
        justify-content space-between
        padding-bottom 50px

        @media (max-width 1023px) 
            justify-content center

    &__menu
        width 70%
        display flex
        justify-content space-between

        @media (max-width 1023px)
            display none

    &__nav
        flex 0 0 320px
        width 320px
        max-width 320px
        margin-right 35px
        &:first-child
            flex 0 0 240px
            width 240px
            max-width 240px
            
        &:last-child
            flex 0 0 140px
            width 140px
            max-width 140px

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                margin-bottom 10px
                &:first-child
                    a
                        color #141927

                a
                    font-size 14px
                    color #5e626e
                    font-weight 500    
                    line-height 18px
                    display inline-block
                    vertical-align top
                    

    &__info
        margin-left 145px

        @media (max-width 1279px)
            margin-left 50px   

        @media (max-width 1023px) 
            margin 0 auto    

        .logo
            margin-bottom 25px

            &__img
                width 160px

        .btn-call
            font-size 16px
            color #fff
            font-weight 400
            background-color #f3753e
            border none
            transition background-color .3s
            &:hover
                color #fff
                background-color #e75a1d

        .social
            @media (min-width 1024px)
                display none        

    &__copy-info
        padding-top 20px
        border-top 1px solid #cad7e0            

    &__copy-info-body
        display flex  
        justify-content space-between      
        width 745px
        max-width 100%  

        @media (max-width 439px) 
            display block

    &__copy
        font-size 14px
        color #5e626e
        font-weight 400    

.privacy-policy
    font-size 14px
    color #5e626e
    font-weight 400 
    &:hover
        color #5e626e