.types-materials
    flex none
    margin-bottom 100px
    
    @media (max-width 1024px)
        margin-bottom 50px
    
    &__section
        padding-top 95px
        padding-bottom 20px
        background-color #e7edf1
        
        @media (max-width 1024px)
            padding-top 50px
    
    &__title
        font-size 48px
        color #000
        font-weight 400
        line-height 50px
        margin-bottom 100px
        
        @media (max-width 959px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 767px)
            font-size 28px
            line-height 32px
    
    &__items
        display flex
        flex-wrap wrap
        margin-left -65px
    
    &__item
        display block
        padding-left 65px  
        margin-bottom 100px
        
        &:hover
            text-decoration none  

            & ^[0]

                &__img
                    &:before
                        opacity 0
                    &:after
                        opacity 1
        
        @media (max-width 1024px)
            margin-bottom 50px
        
        @media (max-width 480px)
            justify-content center    
    
    &__body
        width 350px
        max-width 100%
        display block    
        padding-bottom 25px
        padding-left 25px
        position relative
        &:before
            content ''
            position absolute
            top 45px
            left 0px
            width 315px
            height 243px
            background-color #f3753e

            @media (max-width 480px)
                display none

        @media (max-width 480px)
            padding-bottom 0
            padding-left 0     
            width 100%   

    &__img
        display block
        position relative
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            width 100%
            height 100%
            opacity 1
            background-image linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.7) 79%)
            transition opacity .2s linear
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 100%
            height 100%
            opacity 0
            background-image linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(94, 51, 32, 0) 33%, rgba(168, 90, 57, 0.9) 59%, rgba(177, 95, 60, 0.9) 62%)
            transition opacity .2s linear

        img
            max-width 100%  
            height auto    

    &__name
        font-size 24px
        color #fff
        font-weight 700
        line-height 24px     
        text-align center
        text-transform uppercase
        position absolute
        bottom 75px  
        left 0
        right 0
        

        @media (max-width 375px)
            font-size 20px
            line-height 22px
            bottom 50px