<div block="types-materials">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Виды материалов, которые можно испытывать</div>
            <div elem="items">
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img.jpg" alt=""></span>
                        <span elem="name">КИРПИЧ</span>
                    </span>
                </a>
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img2.jpg" alt=""></span>
                        <span elem="name">БЕТОН</span>
                    </span>
                </a>
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img3.jpg" alt=""></span>
                        <span elem="name">ЩЕБЕНЬ</span>
                    </span>
                </a>
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img.jpg" alt=""></span>
                        <span elem="name">КИРПИЧ</span>
                    </span>
                </a>
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img2.jpg" alt=""></span>
                        <span elem="name">БЕТОН</span>
                    </span>
                </a>
                <a elem="item" href="#" data-remodal-target="cost">
                    <span elem="body">
                        <span elem="img"><img src="img/types-materials-img3.jpg" alt=""></span>
                        <span elem="name">ЩЕБЕНЬ</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div><!-- types-materials -->