<div block="contacts" mods="footer">
    <div elem="section">
        <a elem="email" href="mailto:info@info.ru">{{ _icon('email', { tag: 'i' }) }} info@info.ru</a>
        <a elem="phone" href="tel:+74957777777">{{ _icon('tel', { tag: 'i' }) }} +7 495 777 77 77</a>
    </div>
</div><!-- contacts -->