.contacts

    &--footer
        margin-bottom 20px

    a
        font-size 18px
        color #040404
        font-weight 400
        display flex
        align-items center

        svg 
            fill #f3753e
            
        .svg-icon
            margin-right 10px

        .svg-icon--tel
            width 16px
            height 16px

        &:hover
            text-decoration none    

    &__phone
        cursor default        
    
    &__email
        margin-bottom 20px
        &:hover
            color #f3753e
            text-decoration underline !important