<div block="type-work">
    <div elem="section">
        <div elem="inner">
            <div elem="title">Вид работ:</div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <span elem="num"></span>
                        Строительство путепровода в месте пересечения ж/д путей и а/д дороги общего пользования к г. Гатчина-2. 2 этап – строительство трехпрол. двухполосного а/д путепровода с подходами под две полосы движения в Гатчинском р-не Ленинградской обл.
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <span elem="num"></span>
                        СПб, Лен.область, «Подъезд к г.Гатчина-2», Парицкое шоссе, Киевская улица.
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <span elem="num"></span>
                        Строительство автодорожного путепровода на перегоне Таммисуо – Гвардейское уч. Выборг – Каменногорск.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- type-work -->