.type-work
    margin-bottom 40px
    
    &__title
        font-size 30px
        color #000
        font-weight 400
        line-height 32px
        padding-top 7px
        padding-bottom 7px
        padding-right 5px
        margin-bottom 30px
        background-color #f3753e
        display inline-block
        vertical-align top
        position relative
        &:before
            content ''
            position absolute
            top 0
            left -335px
            width 335px
            height 100%
            background-color #f3753e
        
        @media (max-width 640px)
            font-size 26px
            line-height 30px
            padding-top 5px
            padding-bottom 5px    
            margin-bottom 25px
    
    &__items
        border-bottom 2px solid #f3753e 
        counter-reset count-num       
    
    &__item
        margin-bottom 40px
        
        @media (max-width 480px)
            margin-bottom 20px
    
    &__body
        font-size 18px
        color #000000
        font-weight 400
        line-height 30px
        
        @media (max-width 480px)
            font-size 16px
            line-height 20px
    
    &__num
        color #f3753e
        font-weight 700
        position relative
        padding-right 65px
        margin-right 20px
        &:before
            counter-increment count-num
            content '0' counter(count-num) ' /'
        &:after
            content ''
            position absolute
            top 10px
            right 0
            width 55px
            height 4px
            background-color #f3753e