.news-detailed-content
    margin-bottom 110px

    @media (max-width 1024px)
        margin-bottom 50px

    &__inner
        p
            color #000

    &__another
        margin-top 35px
        display flex      
        flex-wrap wrap  

    &__img
        flex 0 0 470px
        width 470px   
        max-width 470px
        padding-left 35px
        padding-bottom 35px
        position relative
        margin-right 50px
        &:before
            content ''
            position absolute
            top 65px
            left 0px
            width 315px
            height 310px
            background-color #f3753e

            @media (max-width 480px)
                display none

        @media (max-width 640px)
            padding-bottom 25px
            padding-left 0 
            margin-right 0
            flex none    
            width 100%
            max-width 100%

        img 
            max-width 100%
            height auto 
            position relative

    &__text
        width 720px
        max-width 100%        