.customers-info
    flex none
    margin-top 50px
    margin-bottom 110px

    @media (max-width 1024px)
        margin-bottom 50px
    
    @media (max-width 640px)
        margin-top 25px    

    &__inner
        display flex

        @media (max-width 1279px)
            display block
            padding-right 20px
            padding-left 20px

    &__slider
        width 930px
        max-width 100%
        height 410px

        @media (max-width 1279px)
            margin 0 auto 25px  

        @media (max-width 439px)    
            height 300px

    &__items
        height 100%

        .owl-stage-outer,
        .owl-stage,
        .owl-item
            height 100%
        
        .owl-nav
            display flex
            justify-content space-between
            width 120px 
            position absolute
            right -150px
            bottom -25px  

            @media (max-width 1360px)
                right 50%
                bottom -50px

            @media (max-width 1279px)
                display none    

        .owl-prev,
        .owl-next
            width 40px
            height 50px
            transform translateY(-50%)
            background-color #f3753e
            display flex
            align-items center
            justify-content center
            transition background-color .3s
            &:hover
                background-color #e75a1d

            &:before
                content ''
                position absolute
                top 0
                left -6px
                width 3px
                height 100%
                background-color #f3753e

            svg 
                width 21px

        .owl-prev
            transform rotate(180deg) translateY(50%) 

        .owl-dots
            position absolute
            bottom -15px    
            right 25%
            display flex
            transform translateX(50%)

            @media (max-width 1279px)
                right 50%
        
        .owl-dot
            width 13px
            height 13px
            border 3px solid #f3753e
            border-radius 50%
            margin-bottom 45px
            margin-right 13px
            background-color #f3753e
            transition background-color .3s
            &:last-child
                margin-right 0
                

            span 
                width 10px
                height 10px
                display block
                border-radius 50%
                transition background-color .3s    

            &.active
                background-color transparent

                span 
                    background-color transparent

    &__item
        height 100%
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-color rgba(0, 0, 0, 0.61)   
    
    &__item-inner
        width 530px
        max-width 100%
        height 100%
        margin-left auto  
        display flex
        flex-direction column
        justify-content center
        position relative
        padding-right 20px

        @media (max-width 640px)
            width 350px
            padding-left 20px

    
    &__title
        font-size 40px
        color #fff
        font-weight 500
        line-height 46px   
        margin-bottom 55px 

        @media (max-width 960px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 768px)
            font-size 28px
            line-height 32px

        @media (max-width 439px)    
            font-size 24px
            line-height 26px    

        &.title-style
            padding-left 30px
            &:before
                background-color #fff

    &__btn-more
        width 180px
        &:after
            background url('../img/btn-arr2.png') 0 0 no-repeat


    &__body
        width 600px
        max-width 100%
        margin-left 35px    

        @media (max-width 1279px)
            width 100%
            margin-left 0

    &__text

        p
            font-size 16px
            color #000
            font-weight 400
            line-height 20px    
            margin-bottom 20px