<div block="customers-info">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="slider">
                <div elem="items" class="js-slider-customers-info owl-carousel">
                    <div elem="item" style="background: url('img/customers-info-img.jpg') 50% 0 no-repeat #dce2e7;">
                        <div elem="item-inner">
                            <div elem="title" class="title-style">Центер транспортной безопасности</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div elem="item" style="background: url('img/customers-info-img.jpg') 50% 0 no-repeat #dce2e7;">
                        <div elem="item-inner">
                            <div elem="title" class="title-style">Центер транспортной безопасности</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div elem="item" style="background: url('img/customers-info-img.jpg') 50% 0 no-repeat #dce2e7;">
                        <div elem="item-inner">
                            <div elem="title" class="title-style">Центер транспортной безопасности</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="body">
                <div elem="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>
        </div> 
    </div>
</div><!-- customers-info -->