<div block="about-us">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="pics">
                <div elem="img" mods="first"><img style="width: 296px;" src="img/about-us-img.jpg" alt=""></div>
                <div elem="img" mods="second"><img style="width: 396px;" src="img/about-us-img2.jpg" alt=""></div>
                <div elem="img" mods="third"><img style="width: 296px;" src="img/about-us-img3.jpg" alt=""></div>
            </div>
            <div elem="body">
                <div elem="title" class="title-style">О лаборатории</div>
                <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
                <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div><!-- about-us -->