.about-us
    background-color #fff

    &__section
        position relative
        &:before
            content ''
            position absolute
            bottom 210px
            left 0
            width 631px
            height 83px
            background-color #f3753e

            @media (max-width 1599px)
                width 500px

            @media (max-width 1279px)
                display none

    &__inner
        display flex
        justify-content space-between
        padding-top 140px
        padding-bottom 130px

        @media (max-width 1279px)
            flex-direction column

        @media (max-width 1024px)  
            padding-top 50px
            padding-bottom 30px  

    &__pics
        flex 0 0 570px
        width 570px
        max-width 570px
        position relative

        @media (max-width 1279px)
            flex none
            width 100%
            max-width 100%
            display flex
            flex-wrap wrap
            margin-top 25px

    &__img
        position absolute
        box-shadow 1px 1px 24px rgba(35, 62, 81, 0.21)

        @media (max-width 1279px)
            position static
            box-shadow none
            margin-right 25px
            margin-bottom 25px

        @media (max-width 440px)
            margin-right 0    

        &--first
            top -100px
            right 0 
            z-index 3

        &--second
            top 50px
            left 0
            z-index 1    

        &--third
            bottom 0
            right 60px
            z-index 2    

        img
            max-width 100%
            height auto       

    &__body
        flex 0 0 555px
        width 555px
        max-width 555px      

        @media (max-width 1279px)
            order -1
            flex none
            width 100%
            max-width 100%  

    &__title
        font-size 48px
        color #000
        font-weight 400   
        line-height 50px 
        margin-bottom 55px

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px
            

    &__text
        font-size 20px
        color #000
        font-weight 400
        line-height 30px    
        margin-bottom 55px

        @media (max-width 480px)
            font-size 16px
            line-height 24px
            margin-bottom 25px