.about-us-content

    &__section  
        padding-top 90px
        padding-bottom 110px
        background-color #f7f7f7

        @media (max-width 1024px)
            padding-top 50px
            padding-bottom 50px

    &__top
        display flex
        flex-wrap wrap
        padding-bottom 30px
        margin-bottom 45px
        border-bottom 2px solid #f3753e

    &__text
        width 855px
        max-width 100%
        margin-right 55px
        margin-bottom 25px

        @media (max-width 1279px)
            width 100%
            margin-right 0

        p
            font-size 20px
            color #414046
            font-weight 400
            line-height 30px      
            margin-bottom 25px
            &:last-child
                margin-bottom 0  

            @media (max-width 640px)
                font-size 16px
                line-height 20px
           

    &__img
        flex 0 0 330px
        width 330px
        max-width 330px   

        @media (max-width 959px)
            flex none
            width 100%
            max-width 100%    

        img 
            max-width 100%
            height auto       

    &__bot
        display flex
        flex-wrap wrap

    &__left-text,
    &__right-text
        width 400px
        max-width 100%

        @media (max-width 959px)
            width 100%

        p
            font-size 20px
            color #414046
            font-weight 400
            line-height 30px
            margin-bottom 25px

            @media (max-width 640px)
                font-size 16px
                line-height 20px

    &__mid-img
        flex 0 0 338px
        width 338px
        max-width 338px
        margin-right 50px
        margin-left 50px

        @media (max-width 959px)
            margin 25px 0

        @media (max-width 959px)
            flex none
            width 100%
            max-width 100%    

        img 
            max-width 100%
            height auto      