.s-path
    font-size 16px
    color #414046
    font-weight 400
    line-height 30px
    margin-top 25px
    margin-bottom 50px
    flex none
    display flex
    align-items center
    flex-wrap wrap

    &__separator
        &:first-child
            margin-left 0

    @media (max-width: 768px)
        line-height 20px
        margin-bottom 25px

    a
        font-size 16px
        color #f3753e
        font-weight 400
        line-height 30px
        text-decoration none
        &:hover
            text-decoration underline

    &--pathPos
        position absolute
        top 0
        left 0
        right 0
        color #fff
        z-index 2

    &__separator
        font-size 30px
        font-weight 700
        color #f3753e
        line-height 30px
        margin-right 9px
        margin-left 9px