<div block="s-path" class="contain" {% if pathPos == 1 %}mods="pathPos"{% endif %}>
    <span elem="separator">|</span><!-- <= separator -->
    {% for item in path %}
		<a elem="link" href="#">{{item.title}}</a><!-- <= link -->
		<span elem="separator">|</span><!-- <= separator -->
	{% endfor %}
	{{pageTitle}}
</div><!-- s-path -->
