<div block="contact-form">
    <div elem="section">
        <div elem="inner">
            <div elem="title" class="title-style">Задать вопрос</div>
            <form elem="form" action="">
                <div elem="body">
                    <div elem="inputs">
                        <div elem="input">
                            <input type="text" placeholder="Имя" required>
                        </div>
                        <div elem="input">
                            <input type="tel" placeholder="Телефон" required>
                        </div>
                        <div elem="input">
                            <input type="mail" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div elem="textarea">
                        <textarea name="" required></textarea>
                    </div>
                </div>
                <div elem="bot">
                    <label elem="agreement">
                        <input type="checkbox" checked required>
                        <span elem="agreement-text">Согласен на обработку персональных данных</span>
                    </label>
                    <button elem="btn-send" class="btn-general" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- contact-form -->