.contact-form
    width 100%

    &__section
        width 820px
        max-width 100%
        margin 0 auto

    &__title
        font-size 48px
        color #000
        font-weight 400
        line-height 50px
        width 400px
        max-width 100%
        margin 0 auto 75px

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px

    &__body
        display flex

        @media (max-width 640px)
            display block
    
    &__inputs
        width 295px
        max-width 100%
        margin-right 20px

        @media (max-width 640px)
            width 100%

    &__input
        width 100%
        margin-bottom 30px

        @media (max-width 640px)
            margin-bottom 15px !important
        &:last-child
            margin-bottom 0

        input
            font-size 16px
            color #000
            font-weight 400   
            width 100%
            height 40px
            border 1px solid #e6e8eb
            background-color #f7f9fa
            padding-left 15px
            padding-right 15px  

        ::placeholder
            font-size 16px
            color #aeaeae
            font-weight 400    
    
    &__textarea
        width 505px
        max-width 100%

        @media (max-width 640px)
            width 100%

        textarea
            width 100%
            height 100%
            padding-top 10px
            padding-left 15px
            padding-right 15px  
            border 1px solid #e6e8eb
            background-color #f7f9fa

            @media (max-width 640px)
                height 125px

        ::placeholder
            font-size 16px
            color #aeaeae
            font-weight 400 

    &__bot
        margin-top 35px
        display flex
        flex-direction column  

    &__agreement
        margin-bottom 35px

        input 
            display none
            &:checked + span 
                &:after
                    display block

    &__agreement-text
        font-size 16px
        color #000
        font-weight 500
        line-height 18px 
        padding-left 30px
        display block
        position relative
        cursor pointer
        &:before
            content ''
            position absolute
            top 1px
            left 0
            width 15px
            height 15px     
            border 1px solid #f3753e
            background-color #fff
        &:after
            content ''
            position absolute
            top 2px
            left 2px
            width 10px
            height 11px     
            display none
            background url(../img/checkbox-pic.png) 0 0 no-repeat       

    &__btn-send
        width 190px
        max-width 100%
        padding-right 20px
        margin 0 auto

        &:before,
        &:after
            display none        