<div block="thanks-content">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                {% include "docs-thumb-licens.html" %}
                {% include "docs-thumb-licens.html" %}
                {% include "docs-thumb-licens.html" %}
            </div>
        </div>
    </div>
</div><!-- thanks-content -->