.thanks-content
    margin-bottom 100px

    @media (max-width 1024px)
        margin-bottom 50px

    &__items
        width 1055px + 20px + 20px
        max-width 100%
        margin 0 auto
        padding-right 20px
        padding-left 20px
        display flex
        justify-content space-between
        flex-wrap wrap

        @media (max-width 1024px)
            justify-content space-around