<div block="our-clients">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Наши клиенты</div>
            <div elem="items" class="js-our-clients-slider owl-carousel">
                <div elem="item">
                    <img src="img/our-clients-img.png" alt="">
                </div>
                <div elem="item">
                    <img src="img/our-clients-img2.png" alt="">
                </div>
                <div elem="item">
                    <img src="img/our-clients-img3.png" alt="">
                </div>
                <div elem="item">
                    <img src="img/our-clients-img4.png" alt="">
                </div>
                <div elem="item">
                    <img src="img/our-clients-img3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div><!-- our-clients -->  