.our-clients
    
    &__section
        padding-top 75px
        padding-bottom 100px
        background url('../img/our-clients-bg.png') 50% 0 no-repeat

        @media (max-width 1024px)
            padding-top 50px
            padding-bottom 50px

    &__title
        font-size 48px
        color #000
        font-weight 400 
        line-height 52px
        margin 0 auto 100px
        width 390px
        max-width 100%

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px

    &__items
        width 765px
        max-width 100%
        margin 0 auto    
        display flex
        justify-content space-between

        @media (max-width 1024px)
            width 600px
        
        .owl-item
            @media (max-width 1279px)
                display flex
                justify-content center    

        .owl-prev,
        .owl-next
            width 40px
            height 50px
            position absolute
            top 50%
            transform translateY(-50%)
            background-color #f3753e
            display flex
            align-items center
            justify-content center
            transition background-color .3s
            &:hover
                background-color #e75a1d

            &:before
                content ''
                position absolute
                top 0
                left -6px
                width 3px
                height 100%
                background-color #f3753e

            svg 
                width 21px

        .owl-prev
            left -150px    
            transform rotate(180deg) translateY(50%)

            @media (max-width 1279px)
                left -85px

            @media (max-width 960px)    
                left -50px

            @media (max-width 640px)    
                left -15px    

        .owl-next
            right -50px      

            @media (max-width 640px)    
                right -15px

    &__item
        width 120px

        img 
            max-width 100%  
            height auto  