<div block="our-project">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="title" class="title-style">Проекты реализуемые нами</div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/our-project-img.jpg" alt=""></a>
                        <div elem="content">
                            <div elem="num"></div>
                            <a elem="name" href="#">Испытание песка</a>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/our-project-img2.jpg" alt=""></a>
                        <div elem="content">
                            <div elem="num"></div>
                            <a elem="name" href="#">Испытание грунта</a>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <a elem="img" href="#"><img src="img/our-project-img3.jpg" alt=""></a>
                        <div elem="content">
                            <div elem="num"></div>
                            <a elem="name" href="#">Испытание бетона</a>
                            <div elem="text">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit,  eiusmod tempor incididunt</div>
                        </div>
                    </div>
                </div>
            </div>
            <a elem="btn-all-project" href="#" class="btn-general">Все проекты</a>
        </div>
    </div>
</div><!-- our-project -->