.our-project
    flex none
    
    &__section
        padding-top 85px
        padding-bottom 85px
        background-color #e7edf1

        @media (max-width 1024px)
            padding-top 50px
            padding-bottom 50px

    &__title
        font-size 48px
        color #000
        font-weight 400   
        line-height 52px
        margin-bottom 70px 

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px

    &__items
        padding-left 50px
        padding-right 50px
        margin-bottom 50px
        margin-left -125px    
        display flex
        flex-wrap wrap
        counter-reset count-num

        @media (max-width 1279px)
            margin-left -50px
            padding-right 0
            padding-left 0

        @media (max-width 1024px)
            margin-left -25px

        @media (max-width 640px)
            margin-bottom 25px    

    &__item
        padding-left 125px
        margin-bottom 25px

        @media (max-width 1279px)
            padding-left 50px

        @media (max-width 1024px)
            padding-left 25px    

    &__body    
        width 295px
        max-width 100%
        display flex
        flex-direction column

    &__img
        font-size 0
        display block
        margin-bottom 20px
        overflow hidden
        &:hover
            img 
                transform scale(1.1)

        img 
            max-width 100%  
            height auto    
            transition transform .8s

    &__content
        flex 1 1 auto    
        overflow hidden    

    &__num
        font-size 18px
        color #f3753e
        font-weight 700   
        margin-bottom 10px 
        position relative
        &:before
            counter-increment count-num
            content '0' counter(count-num) ' /'
        &:after
            content ''
            position absolute
            top 11px
            right -50px
            width 100%
            height 4px
            background-color #f3753e

    &__name
        font-size 24px
        color #000
        font-weight 700
        line-height 24px
        margin-bottom 10px 
        display block
        transition color .3s
        &:hover
            color #f3753e
            text-decoration none

        @media (max-width 639px)
            font-size 20px
            line-height 22px

    &__desc
        font-size 16px
        color #000
        font-weight 400
        line-height 20px 

    &__btn-all-project
        width 185px
        display block
        margin 0 auto    