.useful-info-content
    margin-bottom 110px

    @media (max-width 1024px)
        margin-bottom 50px

    &__sectiom
        position relative
        &:before
            content ''
            position absolute
            left -340px
            bottom -25px
            width 815px
            height 247px
            background-color #f3753e
            z-index -1

            @media (max-width 1279px)
                display none

    &__items
        display flex
        flex-wrap wrap
        margin-left -20px

        @media (max-width 768px)
            justify-content center


    &__item
        padding-left 20px
        margin-bottom 20px

    &__body
        position relative  

    &__img

        img
            max-width 100%
            height auto      

    &__info
        position absolute
        top 0
        left 0
        padding 15px
        width 95%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        overflow hidden
        &:before
            content ''
            position absolute
            top 15px
            left 15px
            width 365px
            height 95%
            background-color rgba(0, 0, 0, 0.46)

    &__name
        font-size 24px
        color #ffffff
        font-weight 700
        line-height 24px   
        position relative
        margin-bottom 50px   

        @media (max-width 480px)
            font-size 18px 
            font-size 18px
            margin-bottom 25px   

    &__btn-more
        &:after
            background url('../img/btn-arr2.png') 0 0 no-repeat    