<div block="useful-info-content">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/useful-info-content-img.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">ПТБ “Аэроэкспресс”</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/useful-info-content-img2.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">ПТБ “Аэроэкспресс”</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="img"><img src="img/useful-info-content-img3.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">ПТБ “Аэроэкспресс”</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- useful-info-content -->