<div block="main-menu">
    <nav elem="nav">
        <ul>
            <li>
                <a href="#">о компании</a>
                <ul class="sub-menu">
                    <li><a href="#">Лицензии и сертификаты</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Полезная информация</a></li>
                    <li><a href="#">Благодарности</a></li>
                    <li><a href="#">Аккредитованная испытательная лаборатория</a></li>
                </ul>
            </li>
            <li><a href="#">услуги</a></li>
            <li><a href="#">проекты</a></li>
            <li><a href="#">новости</a></li>
            <li><a href="#">контакты</a></li>
        </ul>
    </nav>
</div><!-- main-menu -->