.main-menu

    &__nav

        > ul
            list-style-type none
            padding-left 0
            margin-bottom 0
            display flex
            align-items center

            > li
                position relative
                &:hover
                    ul
                        opacity 1
                        visibility visible
                        z-index 10   
                
                > a
                    font-size 14px
                    color #5e626e
                    font-weight 700
                    line-height 16px
                    text-transform uppercase
                    padding 8px 25px 5px
                    transition color .3s
                    position relative
                    z-index 1
                    &:hover
                        color #141927
                        text-decoration none
                        &:before
                            width 46%

                    &:before    
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 0
                        height 30px
                        background-color #f3753e
                        transition width .3s
                        z-index -1

                    @media (max-width 1279px) 
                        padding-right 10px
                        padding-left 10px   
                
                > ul
                    list-style-type none
                    position absolute
                    top 45px
                    left 0
                    width 320px
                    background-color #fff
                    padding-bottom 15px
                    opacity 0
                    z-index -1
                    visibility hidden
                    transition opacity 1s, ease .3s
                    
                    li
                        margin-bottom 10px
                        
                        a
                            color #f3753e