.company-services
    margin-bottom 45px

    &__items
        display flex
        flex-wrap wrap
        margin-left -40px

        @media (max-width 480px)
            justify-content center

    &__item
        display block
        padding-left 40px  
        margin-bottom 50px

        &--title
            display flex
            flex-direction column
            justify-content center
            align-items center

            @media (max-width 1279px)
                order -1
            
            & ^[0]

                &__title
                    font-size 48px
                    color #000
                    font-weight 400
                    line-height 52px
                    margin-left 55px

                    @media (max-width 767px)
                        font-size 36px
                        line-height 40px
                        margin-bottom 25px

                    @media (max-width 480px)
                        font-size 28px
                        line-height 32px
                        margin-left 0

                        br
                            display none
                    
        &:hover
            text-decoration none  

            & ^[0]

                &__img
                    &:before
                        opacity 0
                    &:after
                        opacity 1

    &__body
        width 375px
        max-width 100%
        display block    
        padding-bottom 25px
        padding-left 25px
        position relative
        &:before
            content ''
            position absolute
            top 65px
            left 0px
            width 315px
            height 310px
            background-color #f3753e

            @media (max-width 480px)
                display none

        @media (max-width 480px)
            padding-bottom 0
            padding-left 0     
            width 100%   

    &__img
        display block
        position relative
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            width 100%
            height 100%
            opacity 1
            background-image linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.7) 56%, rgba(0, 0, 0, 0.7) 100%)
            transition opacity .2s linear
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 100%
            height 100%
            opacity 0
            background-image linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(94, 51, 32, 0) 33%, rgba(168, 90, 57, 0.9) 59%, rgba(177, 95, 60, 0.9) 62%)
            transition opacity .2s linear

        img
            max-width 100%  
            height auto    

    &__name
        font-size 24px
        color #fff
        font-weight 700
        line-height 24px     
        position absolute
        bottom 75px  
        left 35px
        right 0

        @media (max-width 375px)
            font-size 20px
            line-height 22px
            bottom 50px