<div block="company-services">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="items">
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/company-services-img.jpg" alt=""></span>
                        <span elem="name">Лабораторные испытания строительных материалов</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/company-services-img2.jpg" alt=""></span>
                        <span elem="name">Контроль дорожно-строительных работ</span>
                    </span>
                </a>
                <div elem="item" mods="title">
                    <div elem="title" class="title-style">Услуги <br> компании</div>
                </div>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/company-services-img3.jpg" alt=""></span>
                        <span elem="name">Контроль работ по содержанию автомобильных работ</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/company-services-img4.jpg" alt=""></span>
                        <span elem="name">Экспертиза качества выполняемых работ</span>
                    </span>
                </a>
                <a elem="item" href="#">
                    <span elem="body">
                        <span elem="img"><img src="img/company-services-img5.jpg" alt=""></span>
                        <span elem="name">Судебная и до судебная экспертиза</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div><!-- company-services --> 