.popup-form
    width 500px
    max-width 100%
    
    /* width */
    ::-webkit-scrollbar
        width 3px
        
        @media (max-width 1279px)
            height 3px
            
    /* Track */
    ::-webkit-scrollbar-track
        background #d1d1d1     
    

    /* Handle */
    ::-webkit-scrollbar-thumb
        background #f3753e    
    

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover
        background #e75a1d
    
    &--specialist
        width 950px
        
        & ^[0]
            
            &__body
                width 100%
                padding-left 25px
                
                @media (max-width 640px)
                    padding-left 0  
            
            &__head
                width 415px
                max-width 100%    
            
            &__agreement-text
                width 100%    
                margin-left 25px
    
    &--cost
        width 1210px
        
        & ^[0]
            
            &__section
                padding-right 70px  
                
                @media (max-width 1279px)
                    padding-right 15px
            
            &__body
                width 100%
        
            &__head
                width 415px
                max-width 100%          
            
            &__inputs
                width 100%  
                display flex   
                justify-content space-between    
                
                @media (max-width 959px)
                    display block
            
            &__input
                width 295px   
                
                @media (max-width 1279px)
                    width 240px
                
                @media (max-width 959px)
                    width 640px
                    max-width 100%    

            &__agreement
                width 430px
        
    &__section
        padding 35px 40px 50px
        
        @media (max-width 640px)
            padding 0
    
    &__content
        height 840px
        padding-right 50px
        overflow-y auto    
    
    &__info
        padding-bottom 25px
        margin-bottom 25px 
        border-bottom 2px solid #f3753e    
        &:last-child
            padding-bottom 0
            border-bottom none  
        
        h4
            font-size 20px
            color #000
            font-weight 700
            line-height 22px 
            margin-bottom 5px
        
        p
            font-size 20px
            color #000
            font-weight 400
            line-height 24px 
            
            @media (max-width 640px)
                font-size 16px
        
    &__list
        list-style-type none
        padding-left 25px
        margin-bottom 25px
        
        @media (max-width 640px)
            padding-left 0
            margin-bottom 0
        
        li
            font-size 18px
            color #000000
            font-weight 400
            line-height 22px
            padding-left 20px
            margin-bottom 10px
            position relative
            &:before
                content ''
                position absolute
                top 8px
                left 0
                width 10px
                height 10px
                border-radius 50%
                background-color #f3753e
            
            @media (max-width 640px)
                font-size 16px
                        
    
    &__head
        padding-bottom 20px
        margin-bottom 35px
        border-bottom 2px solid #f3753e
    
    &__title
        font-size 24px
        color #000
        font-weight 700
        line-height 24px
    
    &__body
        width 295px
        max-width 100%
        margin 0 auto
        display flex

        @media (max-width 640px)
            display block
    
    &__inputs
        width 295px
        max-width 100%
        margin-right 20px

        @media (max-width 640px)
            width 100%

    &__input
        width 100%
        margin-bottom 30px

        @media (max-width 640px)
            margin-bottom 15px !important
        &:last-child
            margin-bottom 0

        input
            font-size 16px
            color #000
            font-weight 400   
            width 100%
            height 40px
            border 1px solid #e6e8eb
            background-color #f7f9fa
            padding-left 15px
            padding-right 15px  

        ::placeholder
            font-size 16px
            color #aeaeae
            font-weight 400    
    
    &__textarea
        width 505px
        max-width 100%

        @media (max-width 640px)
            width 100%

        textarea
            width 100%
            height 100%
            padding-top 10px
            padding-left 15px
            padding-right 15px  
            border 1px solid #e6e8eb
            background-color #f7f9fa

            @media (max-width 640px)
                height 125px

        ::placeholder
            font-size 16px
            color #aeaeae
            font-weight 400 

    &__bot
        margin-top 35px
        display flex
        flex-direction column  

    &__agreement
        width 295px
        max-width 100%
        margin 0 auto 35px
        margin-bottom 35px

        input 
            display none
            &:checked + span 
                &:after
                    display block

    &__agreement-text
        font-size 16px
        color #000
        font-weight 500
        line-height 18px 
        padding-left 30px
        display block
        position relative
        cursor pointer
        &:before
            content ''
            position absolute
            top 1px
            left 0
            width 15px
            height 15px     
            border 1px solid #f3753e
            background-color #fff
        &:after
            content ''
            position absolute
            top 2px
            left 2px
            width 10px
            height 11px     
            display none
            background url(../img/checkbox-pic.png) 0 0 no-repeat       

    &__btn-send
        width 190px
        max-width 100%
        padding-right 20px
        margin 0 auto

        &:before,
        &:after
            display none
    
    &__notification
        font-size 24px
        color #000
        font-weight 700
        line-height 24px
        text-align center
        display none        