<div block="popup-form" mods="specialist" class="remodal" data-remodal-id="specialist">
    <button data-remodal-action="close" class="remodal-close">X</button>
    <div elem="section">
        
        <div elem="inner">
            <form elem="form" class="js-popup-form" action="">
                <div elem="head">
                    <div elem="title">Связь со специалистом</div>
                </div>
                <div elem="body">
                    <div elem="inputs">
                        <div elem="input">
                            <input type="text" placeholder="Имя" required>
                        </div>
                        <div elem="input">
                            <input type="tel" placeholder="Телефон" required>
                        </div>
                        <div elem="input">
                            <input type="mail" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div elem="textarea">
                        <textarea name="" required></textarea>
                    </div>
                </div>
                <div elem="bot">
                    <label elem="agreement">
                        <input type="checkbox" checked required>
                        <span elem="agreement-text">Согласен на обработку персональных данных</span>
                    </label>
                    <button elem="btn-send" class="btn-general" type="submit">Отправить</button>
                </div>
            </form>
            <div elem="notification">Спасибо!</div>
        </div>
    </div>
</div><!-- popup-form -->