<div block="popup-form" mods="cost" class="remodal" data-remodal-id="cost">
    <button data-remodal-action="close" class="remodal-close">X</button>
    <div elem="section">
        <div elem="content">
            <div elem="info">
                <h4>Испытание грунта -перечень выполняемых работ</h4>
                <p>В рамках контрольных мероприятий выявляются основные физико-механические, химические, гидрогеологические и электрофизические характеристики почвы. Благодаря испытаниям можно точно определить следующие параметры:</p>
                <ul elem="list">
                    <li>Состав слоев;</li>
                    <li>Прочность;</li>
                    <li>Степень деформации;</li>
                    <li>Плотность;</li>
                    <li>Уровень влажности и глубина залегания подземных вод;</li>
                    <li>Просадочность.</li>
                </ul>
                <p>
                    Физико-механические характеристики у пород разных типов могут сильно отличаться, что
                    влияет на их несущую способность. Во время испытаний учитывается глубина залегания
                    фундамента. Если на участке грунт имеет неоднородный состав, необходимо определить
                    параметры каждого отдельного несущего слоя.
                </p>
            </div>
            <div elem="info">
                <h4>Лабораторные и полевые испытания грунтов</h4>
                <p>Существует два основные метода определения характеристик:</p>
                <ul elem="list">
                    <li>Исследование в натуре, при котором искусственным путем моделируются такие же нагрузки, которым порода будет подвергаться при эксплуатации сооружения.</li>
                    <li>Лабораторные испытания грунтов, при которых берутся пробы и исследуются на базе лаборатории.</li>
                    <li>В большинстве случаев для обследования участка проводят комплекс работ, состоящий из лабораторных и полевых испытаний. При проведении геологических изысканий на площадке применяют метод статического зондирования, прессиометрии, испытание при помощи штамповой установки, испытание на срез целика породы.</li>
                </ul>
            </div>
            <div elem="info">
                <h4>Химические исследования</h4>
                <p>Химическая составляющая исследований, которые проводит лаборатория, позволяет получить такой анализ:</p>
                <ul elem="list">
                    <li>структуру и состав солей, что растворяются в воде;</li>
                    <li>наличие карбонатов в представленном образце;</li>
                    <li>определение липкости образца;</li>
                    <li>наличие в структуре почвы органических компонентов;</li>
                    <li>состав песка;</li>
                    <li>насколько почва водопроницаема, какие уплотнения есть;</li>
                    <li>коэффициент размокания, смягчения и размытия горных пород;</li>
                    <li>уровень негативного восприятия экземпляра к бетону и различным металлам.</li>
                </ul>
            </div>
            <div elem="info">
                <h4>Зачем нужны лабораторные испытания</h4>
                <p>В основном подобные исследования грунтов и песчаных оснований необходимы для технической характеристики земельного участка под строительные работы. Их выполняют с целью определения несущей способности будущей конструкции либо степени уплотнения грунтов и песка при обратной засыпке фундаментов, котлованов или инженерных сетей. Время на проведение таких анализов зависит от ряда факторов, среди которых:</p>
                <ul elem="list">
                    <li>размер участка определенного под застройку;</li>
                    <li>физико-механические свойства грунтовых оснований участка и его геологические характеристики;</li>
                    <li>сам проект постройки, его масштаб и особенности.</li>
                </ul>
                <p>Наша лаборатория грунтов и песка выполняет комплексные испытания и предоставляет все необходимые данные для реализации строительного проекта любой сложности.</p>
                <p>Работники лаборатории испытательного центра «ЛСК», полностью компетентны в выполнении всех вышеперечисленных проб и анализов и могут провести их как в комплексе, так и отдельно, по желанию заказчика.</p>
                <p>Доверьтесь нашим специалистам, и мы сделаем все необходимое для успешной реализации Вашего проекта.</p>
            </div>
        </div>
        
        <div elem="inner">
            <form elem="form" class="js-popup-form" action="">
                <div elem="head">
                    <div elem="title">Оставить заявку</div>
                </div>
                <div elem="body">
                    <div elem="inputs">
                        <div elem="input">
                            <input type="text" placeholder="Имя" required>
                        </div>
                        <div elem="input">
                            <input type="tel" placeholder="Телефон" required>
                        </div>
                        <div elem="input">
                            <input type="mail" placeholder="E-mail" required>
                        </div>
                    </div>
                </div>
                <div elem="bot">
                    <label elem="agreement">
                        <input type="checkbox" checked required>
                        <span elem="agreement-text">Согласен на обработку персональных данных</span>
                    </label>
                    <button elem="btn-send" class="btn-general" type="submit">Отправить</button>
                </div>
            </form>
            <div elem="notification">Спасибо!</div>
        </div>
    </div>
</div><!-- popup-form -->