.contacts-content
    margin-bottom 100px

    @media (max-width 1024px)
        margin-bottom 50px

    &__info
        display flex
        justify-content space-around
        flex-wrap wrap
        padding-bottom 20px
        margin-bottom 35px
        border-bottom 1px solid #f3753e

        @media (max-width 640px)
            display block

    &__phone,
    &__email,
    &__address-loc
        font-size 18px
        color #040404
        font-weight 400
        line-height 20px
        display flex
        align-items center
        margin-bottom 10px
        &:hover
            text-decoration none

        .svg-icon
            margin-right 10px
            fill #f3753e

    &__phone

        .svg-icon--tel
            width 16px

        &:hover
            color #040404
            cursor default

    &__email

        .svg-icon--email
            width 18px

        &:hover
            text-decoration underline
            color #f3753e

    &__address-loc

        .svg-icon--loc
            width 18px        

    &__location
        padding-bottom 35px
        margin-bottom 65px
        border-bottom 1px solid #f3753e

        @media (max-width 640px)
            margin-bottom 30px

    &__map
        height 250px !important    