<div block="contacts-content">
    <div elem="section">
        <div elem="inner">
            <div elem="info">
                <div elem="phones">
                    <a elem="phone" href="#">{{ _icon('tel', { tag: 'i' }) }} +7 495 777 77 77</a>
                </div>
                <div elem="emails">
                     <a elem="email" href="mailto:info@info.ru">{{ _icon('email', { tag: 'i' }) }} info@info.ru</a>
                </div>
                <div elem="address">
                    <div elem="address-loc">{{ _icon('loc', { tag: 'i' }) }} 127422,  Россия,  Москва, Тимирязевская ул., д.1-1</div>
                </div>
            </div>
            <div elem="location">
                <div elem="map" id="location_map" style="width: 100%; height: 370px;"></div>
            </div>
            <div elem="question">
                {% include "contact-form.html" %}
            </div>
        </div>
    </div>
</div><!-- contacts-content -->