= yaml =
pageTitle: Аккредитованная испытательная лаборатория
bodyClasses: accreditation-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":О компании},
]
= yaml =

{% extends 'app.html' %}

{% block main %}

    {% include "s-path.html" %}

    <h2 class="title-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    
    <div class="info-text-page">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>

    {% include "slider-to-content.html" %}

    <div class="info-text-bottom-page">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>
    
{% endblock %}


{% block afterBlock %}

    {% include "machinery.html" %}

{% endblock %}
 