= yaml =
pageTitle: Клиент и проект
bodyClasses: client-project-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":Проекты},
]
= yaml =

{% extends 'app.html' %}

{% block main %}

    {% include "s-path.html" %}

    <h1 class="title-style">АО «Инжиниринговая компания «РГП»</h1>

    {% include "type-work.html" %}

    {% include "slider-to-content-type2.html" %}

    <div class="info-text-bottom-page">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>
    
{% endblock %}


{% block afterBlock %}

    {% set titleAlsoYourService2 = "Приведенные услуги" %}
    {% include "also-your-service.html" %}

{% endblock %}
 