= yaml =
pageTitle: Лабораторные испытания строительных матекриалов
bodyClasses: laboratory-tests-page
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":Услуги},
]
= yaml =

{% extends 'app.html' %}

{% block main %}

    {% include "s-path.html" %}
    
    <div class="info-text-page">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>

    {% include "our-advantages-another.html" %}
    
{% endblock %}


{% block afterBlock %}

    {% include "types-materials.html" %}

    {% include "cost-content.html" %}

    {% include "machinery.html" %}

    {% include "our-project.html" %}
    
    {% set titleAlsoYourService1 = "Так же к вашим услугам" %}
    {% include "also-your-service.html" %}

{% endblock %}
 