<div block="news-thumb">
    <div elem="body">
        <a elem="img" href="#"><img src="img/news-thumb-img.jpg" alt=""></a>
        <div elem="content">
            <a elem="name" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
        </div>
    </div>
</div><!-- news-thumb -->