.news-thumb
    margin-bottom 50px

    @media (max-width 1024px)
        margin-bottom 30px

    &__body
        width 295px
        max-width 100%
        display flex
        flex-direction column

    &__img
        margin-bottom 10px

        img 
            max-width 100%
            height auto

    &__name
        font-size 18px
        color #000
        font-weight 700
        line-height 20px
        padding-bottom 10px
        margin-bottom 20px
        display block
        border-bottom 3px solid #f3753e
        transition color .3s
        &:hover
            color #f3753e
            text-decoration none    

    &__text
        font-size 16px
        color #000
        font-weight 400
        line-height 20px        