<div block="company-services-content">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                <div elem="items-big">
                    <div elem="item-big-body">
                        <div elem="img"><img src="img/company-services-content-img.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">Лабораторные испытания строительных материалов</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div elem="item-big-body">
                        <div elem="img"><img src="img/company-services-content-img2.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">Контроль работ по содержанию <br> автомобильных работ</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div elem="items-small">
                    <div elem="item-small-body">
                        <div elem="img"><img src="img/company-services-content-img3.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">Экспертиза качества выполняемых работ</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div elem="item-small-body">
                        <div elem="img"><img src="img/company-services-content-img4.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">Контроль дорожно-<br>строительных работ</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                    <div elem="item-small-body">
                        <div elem="img"><img src="img/company-services-content-img5.jpg" alt=""></div>
                        <div elem="info">
                            <div elem="name">Судебная и до судебная экспертиза</div>
                            <a elem="btn-more" class="btn-general" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- company-services-content -->