.company-services-content
    margin-bottom 110px

    @media (max-width 1024px)
        margin-bottom 50px

    &__section
        position relative
        &:before
            content ''
            position absolute
            left -340px
            bottom 150px
            width 709px
            height 109px
            background-color #f3753e
            z-index -1

            @media (max-width 1279px)
                display none    

        &:after
            content ''
            position absolute
            right -320px
            top 260px
            width 644px
            height 169px
            background-color #f3753e      
            z-index -1

            @media (max-width 1919px)
                display none      

    &__items
        display flex

        @media (max-width 1023px)
            flex-direction column

    &__items-big
        width 715px
        max-width 100%
        margin-right 20px
    
    &__items-small
        width 505px
        max-width 100%

        @media (max-width 1023px)
            display flex
            width 100%
            flex-wrap wrap

    &__item-big-body    
        position relative
        margin-bottom 20px
    
    &__item-small-body
        position relative
        margin-bottom 20px

        @media (max-width 1023px)
            flex 0 0 420px
            width 420px
            max-width 420px
            margin-right 20px

        @media (max-width 959px)
            flex 0 0 320px
            width 320px
            max-width 320px

        @media (max-width 767px)
            margin-right 0

        @media (max-width 480px)
            flex 0 0 100%
            width 100%
            max-width 100%


        & ^[0]
            &__info
                padding-left 40px
                padding-bottom 40px

                @media (max-width 767px)
                    padding-left 20px
                    padding-bottom 20px

            &__name
                font-size 30px

                @media (max-width 959px)
                    font-size 18px !important
                    line-height 20px
            
    &__info
        top 0
        left 0
        position absolute     
        background-color rgba(0, 0, 0, 0.46)   
        display flex
        flex-direction column
        justify-content flex-end
        padding-right 20px
        padding-left 50px
        padding-bottom 50px
        width 100%
        height 100%

        @media (max-width 767px)
            padding-left 25px
            padding-right 15px
            padding-bottom 25px

    &__img

        img 
            max-width 100%  
            height auto    

    &__name
        font-size 35px
        color #fff
        font-weight 700
        line-height 40px
        width 600px
        max-width 100%    
        margin-bottom 30px

        @media (max-width 1279px)
            font-size 26px
            line-height 30px

        @media (max-width 767px)
            font-size 22px
            line-height 28px  

        @media (max-width 480px)
            margin-bottom 15px


        @media (max-width 375px)
            font-size 16px !important
            line-height 20px    

    &__btn-more
        width 180px
        &:after
            background url('../img/btn-arr2.png') 0 0 no-repeat        