html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &.news-page,
    &.news-detailed-page,
    &.info-detailed-page,
    &.useful-info-page,
    &.company-services-page,
    &.contacts-page,
    &.customers-page,
    &.thanks-page,
    &.licenses-page,
    &.laboratory-tests-page,
    &.accreditation-page,
    &.client-project-page,
    &.projects-page

        .s-path
            padding-left 0
    
    &.laboratory-tests-page,
    &.accreditation-page
        
        .app-header__inner
            border-bottom none
            
        .info-text-page
            border none
            padding-bottom 0 !important
            
            p
                color #000
    
    &.accreditation-page,
    &.about-us-page,
    &.laboratory-tests-page      
        
        .machinery
            
            &__inner
                position relative
                &:before
                    content ''
                    position absolute
                    bottom 125px
                    left -350px
                    width 968px
                    height 180px
                    background-color #f3753e
                    
                    @media (max-width 1919px)
                        display none
            
            &__items
                
                @media (min-width 1920px)
                    .owl-prev
                        background-color #fff
                        &:before
                            transition background-color .3s
                            background-color #fff
                        
                        &:hover
                            background-color #000
                            &:before
                                background-color #000        
                            
                            svg
                                fill #fff        
            
    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto
        position relative

        @media (max-width 1024px)
            padding-top 80px

        @media (max-width 768px)
            padding-top 60px    

    &__main
        flex 1

*
    outline none !important

.contain
    width 1240px + 20px + 20px
    max-width 100%
    padding-right 20px
    padding-left 20px
    margin 0 auto

.full-contain
    width 1920px
    max-width 100%
    margin 0 auto

.btn-call
    font-size 16px
    color #040404
    font-weight 400
    padding 12px 20px 13px
    border 2px solid #373737
    background-color #fff
    transition border-color .3s, color .3s
    &:hover
        color #e75a1d
        border-color #e75a1d

.btn-general
    font-size 18px
    color #fefefe
    font-weight 400
    line-height 18px
    text-align center
    border none
    padding 17px 28px 17px 20px
    background-color #f3753e
    transition background-color .3s
    margin-left 7px
    display inline-block
    vertical-align top
    position relative
    &:before
        content ''
        position absolute
        top 0
        left -6px
        width 3px
        height 100%
        background-color #f3753e
    &:after
        content ''
        position absolute
        top 20px
        right -15px
        width 3px
        height 100%
        width 32px
        height 16px
        background url('../img/btn-arr.svg') 0 0 no-repeat
        
    &:hover
        color #fff
        text-decoration none
        background-color #e75a1d

.title-style
    padding-left 15px
    position relative
    &:before
        content ''
        position absolute
        top -1px
        left -0px
        width 5px
        height 100%
        background-color #f3753e


h1
    font-size 48px
    color #000
    font-weight 400
    line-height 50px
    padding-left 20px !important
    margin-bottom 50px

    @media (max-width 767px)
        font-size 36px
        line-height 40px
        margin-bottom 25px

    @media (max-width 480px)
        font-size 28px
        line-height 32px

p
    font-size 20px
    color #414046
    font-weight 400
    line-height 30px      
    margin-bottom 25px
    &:last-child
        margin-bottom 0  

    @media (max-width 640px)
        font-size 16px
        line-height 20px

.info-text-page
    padding-bottom 45px
    border-bottom 1px solid #f3753e

    @media (max-width 640px)
        padding-bottom 25px

.info-text-bottom-page
    padding-bottom 45px
    margin-bottom 35px
    border-bottom 2px solid #f3753e

    @media (max-width 640px)
        padding-bottom 25px 

.accreditation-page
    
    .first-screen
        
        &__content
            padding-top 40px

    h2
        font-size 48px
        color #000
        font-weight 400
        line-height 50px
        width 725px
        max-width 100%
        margin-bottom 45px
        
        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 25px

        @media (max-width 480px)
            font-size 28px
            line-height 32px       
    
    .info-text-page
        color #000
        border-bottom none
        padding-bottom 0   
        margin-bottom 50px      
        
        @media (max-width 1024px)
            margin-bottom 25px

.scrollbox-rail
    width 3px
    background-color #d1d1d1        
    opacity 1

.scrollbox-bar
    width 3px
    background-color #f3753e    
    &:hover
        background-color #e75a1d

.scrollbox-horizontal-rail
    height 3px        

.scrollbox-horizontal-bar
    height 3px    

.scrollbox-horizontal-rail, .scrollbox-horizontal-bar
    @media (min-width 1280px)
        display none   

.scrollbox-vertical-rail, .scrollbox-vertical-bar
    @media (max-width 1279px)
        display none
        
        .scrollbox-wrapper .scrollbox-overflowed
            overflow auto !important      

.remodal
    text-align left
    border 2px solid #f3753e
    background-color #fbfbfb
    
    @media (max-width 640px)
        padding 15px

.remodal-overlay
    background rgba(0, 0, 0, 0.38)              

.remodal-close
    font-size 25px
    color #ffffff
    font-weight 400 
    line-height 35px
    text-align center
    width 35px
    height 35px
    background-color #f3753e
    top -5px
    right -5px
    z-index 2
    &:before
        display none